body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

main {
    margin: 50px 90px;
}

a {
    font-weight: 700;
}



/* Heading Styles */

.top-section {
    background-color: black;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 15px;
}

.f-div {
    color: white;
    margin: 50px 0 50px 50px;
}

.f-div h1 {
    font-size: 60px;

}

.f-div p {
    font-size: 15px;
    margin-bottom: 30px;
}

.f-div a {
    text-decoration: none;
    color: white;
    background-color: red;
    padding: 15px 20px;
    border-radius: 5px;

}

.s-div img {
    width: fit-content;
    margin-top: 50px;
    width: 70%;
    margin-bottom: -7px;
}



/* Middle Section Styles */

.mid-section {
    margin: 50px 0;
    display: grid;
    grid-template-columns: repeat(2, 300px 1fr);

}


.nav-bar nav {
    background-color: black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    text-align: center;
}

.nav-bar nav a {
    background-color: white;
    margin: 10px;
    text-decoration: none;
    color: black;
    padding: 15px;
    border-radius: 5px;
}

.nav-bar nav .exceptional {
    background-color: red;
    color: white;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.match {
    border: 1px solid rgb(210, 210, 210);
    border-radius: 10px;
    padding: 20px 10px;
    margin: 0 0 20px 20px;
}

.team-image {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    grid-column-gap: 5px;

}

.team-image img {
    width: 110px;
    height: 65px;
}


.match-details {
    margin-top: 10px;
    margin-left: 10px;
    text-align: center;
}

.match-details h5 {
    font-size: 15px;
}


/* Footer Section Styles */
.footer {
    background-color: black;
    margin-top: 100px;

}

.footer-section {
    padding: 80px;
}

.footer-section h3 {
    color: white;
    text-align: center;

    font-size: 25px;
}

hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 0 50px;
}

.menu {

    text-align: center;
    display: flex;
    justify-content: space-evenly;
    padding: 0 200px;
    margin-top: 30px;
}

.menu a {
    text-decoration: none;
    color: white;
}